@media only screen  
  and (max-device-width: 414px) { 

.title {
	color: #7d7d7e;
	}
.menu {
	border:2px ;
	padding: 5px;

	}
.menu li a {
	display: block;
	background-color: #e7e7e7;
	border-radius: 1px;
	padding: 13px 80px;
	color: #777a7e;
	border: 1px solid #e6c7c7;
	width: 50%
	}
.menu a:hover {
	background-color: #e7e7e7;
	box-shadow: inset 0px 0px 12px 2px #cecece;
	}
.menu a:active {
	color: white;
	}
.active {
	width: 40%;
}
a {
	text-decoration: none;
	padding:8px 10px;
	color: white;
	background-color: #337ab7;
	border-radius: 6px;
	}
a:hover {
	text-decoration: none;
	}
.center-button {
	font-family: Comic Sans Ms;
	color: white;
	background-color: #5cb85c;
	border:0;
	border-radius: 6px;
	padding: 20px;
	text-shadow: 0.3px -0.6px 0px #6b6b6b;
	font-size: 32px;
	}

.colontitul {
	color:#7d7d7e;
	}
.footer {
	margin-top: 5%;
	}
.inform {
	display: block;
	width: 100%;
	}
}